<!--base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>{% block title %}{% endblock %}</title>

    <!--Bootstrap core CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shoppinglist.css') }}">
</head>

<body>
    <div class="header clearfix">
        <!--Navigation-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!--Brandname and toggle nav grouped for better mobile display-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
						<span class="sr-only">Toggle nav</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand page-scroll" href="/">Shoppinglist</a>
                </div>
                <!--navbar-header-->
                <!--Collecting the navigation links-->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav navbar-right">
                        {% if 'username' not in session %}
                        <li>
                            <a href="/" class="page-scroll">Home</a>
                        </li>
                        <li>
                            <a href="/register" class="page-scroll">Register</a>
                        </li>
                        <li>
                            <a href="/login" class="page-scroll">Login</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/shoppinglist" class="page-scroll">Shopping List</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login row">
                                        <div class="col-lg-12">
                                            <p class="text-center"><a href="/logout" class="btn btn-primary btn-block">Logout</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {%endif%}
                    </ul>
                </div>
                <!--navbar-collapse-->
            </div>
            <!--container-fluid-->
        </nav>
    </div>
    <!--header-->
    {% block body %} {% endblock %}

    <!-- /container-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<footer class="footer">
    <div id="footer-wrapper">
        <div id="left_navigation_links" class="nav">
            <p class="text-muted">Shopping List</p>
        </div>
    </div>
</footer>

</html>