<!--index.html-->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading"> Shoppinglist Application </h1>
			<hr>
			<p>Shopping list application helps you record all items you wish to buy. It allows you to record and share things you want to spend money on, meeting your needs and 
				keeping track of your shopping lists. Register to get started!!!
			</p>
			<a href="/register" class="btn btn-primary btn-xl page-scroll" id="register"> Register </a>
		</div>

	</div>
</header>
{% endblock %}