{% extends "base.html" %} {% block title %}Shopping items{%endblock%} {% block body %}
<div class="container page-content">
	<div class="row container">
		{%if resp in resp%}

		<div class="alert alert-success" role="alert" id="reg-alert">
			{{ resp }}
		</div>

		{%endif%}
		{%if error in error%}

        <div class="alert alert-danger" role="alert" id="reg-alert">
            {{ error }}
        </div>

        {%endif%}  
		{% if name in name%}
		<div>
			<h4 style="margin:0px 0px 30px 10px"><strong>List name: {{ name }}</strong></h4>
		</div>
		{%endif%}
		<div>
			<form id="add-item-form" method="post" action="/shoppingitems/{{ name }}" style="display: block;margin:0px 0px 30px 30px;">
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<input type="text" name="item-name" id="item-name" placeholder="Item name" value="" class="form-control" required>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<input type="submit" method="post" name="item-submit" id="item-submit" class=" btn btn-primary" value="Add Item">
						</div>
					</div>
				</div>
			</form>
			<!--form-->
		</div>
	</div>
	<div class="row container">
		<div class="col-md-10">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Items</h3>
				</div>
				<!--panel-heading-->
				<table class="table table-hover" id="activity-table">
					<thead>
						<tr>
							<th>Item Name</th>
							<th>Save Edit</th>
							<th>Trash</th>
						</tr>
					</thead>
					<tbody>
						{% for shoppingitem in itemlist %}
						<tr>
							<form id="edit-name-form-{{ shoppingitem }}">
								<td>
									<div class="form-group">
										<input type="text" value="{{ shoppingitem }}" class="form-control" name="item_name" style="border:none">
										<input type="hidden" value="{{ shoppingitem }}" class="form-control" name="item_name_org">
										<input type="hidden" value="{{ name }}" class="form-control" name="list_name">
									</div>
								</td>
								<td> <button type="submit" class="btn btn-info btn-sm" form="edit-name-form-{{ shoppingitem }}" formmethod="post" formaction="/edit-item">
							<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>Save</button>
								</td>
								<td> <button type="submit" class="btn btn-info btn-sm" form="edit-name-form-{{ shoppingitem }}" formmethod="post" formaction="/delete-item">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Trash</button>
								</td>
							</form>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!--panel panel-success-->
		</div>
		<!--col-md-8-->
	</div>
</div>
{% endblock %}